<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario-Agregar Producto</title>
</head>
<body>

    <h1>Formulario-Agregar Producto</h1>

    {%if miForm.errors %}

        <p style="color: red;"> Estan mal los datos,revisar</p>

    {% endif %}


    <form action="" method="POST">{% csrf_token %}

        {{miForm.as_p}}

        <input type="submit" value="Enviar">



    </form>
    
</body>
</html>